<!DOCTYPE html>

<html lang="en/GB">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>{{ title }} - {{ defaults.siteName }}</title>
  </head>

  <body>
    {{ content | safe }}
  </body>
</html>